<% include ../../partials/header %>

<h4><%= posts[0].category.name %></h4>

<% posts.forEach(function(post){ %>
    <div class="card mb-4 border-secondary">
        <div class="card-body">
            <h4 class="card-title"><%= post.title %></h4>
    
            <% var startP = post.content.indexOf("<p>"); %>
            <% var endP = post.content.indexOf("</p>") + 4; %>
            <p class="card-text"><%- post.content.slice(startP, endP) %></p>
            
            <P>
                <a href="/posts/<%= post._id %>" class="card-link">Read More</a>
            </P>
        </div>
    </div>
<% }); %>

<div class="row">
    <div class="col" align="center">
        <% for(i=1; i<=pages; i++){ %>
            <a href="/categories/<%= posts[0].category.id %>/?pageNo=<%= i %>"><button class="btn btn-xs"><%= i %></button></a>
        <% } %>
    </div>
</div>

<% include ../../partials/footer %>