<% include ../../partials/header %>

<h4><%= posts[0].category.name %></h4>

<% posts.forEach(function(post){ %>
    <div>
        <h4><%= post.title %></h4>

        <p>
        <%= post.firstPara %>
        </p>
        
        <P>
            <a href="/posts/<%= post._id %>" class="btn btn-primary">Read More</a>
        </P>
    </div>
<% }); %>

<div class="row">
    <div class="col" align="center">
        <% for(i=1; i<=pages; i++){ %>
            <a href="/categories/<%= posts[0].category.id %>/?pageNo=<%= i %>"><button class="btn btn-xs"><%= i %></button></a>
        <% } %>
    </div>
</div>

<% include ../../partials/footer %>