<% include ../partials/admin-header %>

    <div class="container border">
        
        <form id="postForm" action="/posts/<%= post._id %>?_method=PUT" method="POST">
            
            <h1>編輯 <%= post.title %></h1>
            
            <div class="form-group">
                <label for="title">標題</label>
                <input type="text" class="form-control" name="post[title]" required value="<%= post.title %>">
            </div>
            
            <div class="form-group">
                <label for="category">分類</label>
                <select name="category" class="form-control">
                    <option value="<%= post.category.id %>" selected="selected"><%= post.category.name %></option>
                    <% categories.forEach(function(category){ %>
                        <option value="<%= category._id %>"><%= category.name %></option>
                    <% }); %>
                </select>
            </div>
            
            <div class="form-inline">
                <div class="form-group">
                    <label class="mb-2" for="date">日期</label>
                    <input type="text" class="form-control mx-sm-2 mb-2" name="date[year]" value=<%= post.createdAt.getFullYear() %>>
                    <input type="text" class="form-control mx-sm-2 mb-2" name="date[month]" value=<%= post.createdAt.getMonth()+1 %>>
                    <input type="text" class="form-control mx-sm-2 mb-2" name="date[day]" value=<%= post.createdAt.getDate() %>>
                </div>
            </div>

            <div class="form-group">
                <label for="content">內容</label>
                <textarea id="tiny" class="form-control" name="post[content]" rows="20"><%= post.content %></textarea>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-success">更新</button>
            </div>
            
        </form>

        <a href="../admin" class="btn btn-danger">取消</a>
        
    </div>

<% include ../partials/admin-footer %>