<% include ../partials/admin-header %>

<div class="row">
    <div class="col">
        <h2>所有文章</h2>
    </div>
    <div class="col text-right">
        <span>文章總數：<%= numPosts %> | </span><a href="/posts/new">寫新文章</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th>標題</th>
            <th>分類</th>
            <th>發佈日期</th>
            <th>作者</th>
        </thead>
        <tbody>
            <% posts.forEach(function(post){ %>
                <tr>
                    <td><% if(post.draft == "1"){ %><font color="red">[草稿]  </font><% } %><a href="/posts/<%= post._id %>"><%= post.title %></a></td>
                    <td><a href="/admin/categories/<%= post.category.id %>"><%= post.category.name %></a></td>
                    <td><%= post.createdAt.getFullYear() %>年<%= post.createdAt.getMonth()+1 %>月<%= post.createdAt.getDate() %>日</td>
                    <td><%= post.author.name %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col" align="center">
        <% if (pages>7){ %>
            <% if (!pageNo || pageNo <= 3 || pageNo >= pages-2) { %>
                <% for(i=1; i<=3; i++){ %>
                    <a href="/admin/?pageNo=<%= i %>"><button class="btn btn-xs"><%= i %></button></a>
                <% } %>
                <a href="/admin/?pageNo=4"><button class="btn btn-xs">...</button></a>
                <% for(i=pages-2; i<=pages; i++){ %>
                    <a href="/admin/?pageNo=<%= i %>"><button class="btn btn-xs"><%= i %></button></a>
                <% } %>
            <% } else { %>
                <a href="/admin/?pageNo=1"><button class="btn btn-xs">1</button></a>
                <a href="/admin/?pageNo=<%= pageNo-2 %>"><button class="btn btn-xs">...</button></a>
                <% for(i=pageNo-1; i<=pageNo+1; i++){ %>
                    <a href="/admin/?pageNo=<%= i %>"><button class="btn btn-xs"><%= i %></button></a>
                <% } %>
                <a href="/admin/?pageNo=<%= pageNo+2 %>"><button class="btn btn-xs">...</button></a>
                <a href="/admin/?pageNo=<%= pages %>"><button class="btn btn-xs"><%= pages %></button></a>
            <% } %>
        <% } else{ %>
            <% for(i=1; i<=pages; i++){ %>
                <a href="/admin/?pageNo=<%= i %>"><button class="btn btn-xs"><%= i %></button></a>
            <% } %>
        <% } %>
    </div>
</div>

<% include ../partials/admin-footer %>